In this notebook we will explore our intiail dataset. The dataset contains data about coral coverage in two different main locations over multiple decades.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("coral_dataset.csv") #read in the dataset

In [3]:
df #print and look at the data set

,Date,site,transect,quadrat,percentCover_allCoral,percentCover_macroalgae,percentCover_CTB
0,1987/12/01,Tektite,1,T1Q1,16.5,3.5,6
1,1987/12/01,Tektite,1,T1Q2,10,6,74
2,1987/12/01,Tektite,1,T1Q3,13.5,3.5,45
3,1987/12/01,Tektite,1,T1Q4,15.5,6.5,61.5
4,1987/12/01,Tektite,1,T1Q5,19,4,48
...,...,...,...,...,...,...,...
2278,2021/07/01,Yawzi,nd,6,0.0,30.0,50.0
2279,2021/07/01,Yawzi,nd,7,0.0,28.5,45.5
2280,2021/07/01,Yawzi,nd,8,0.5,35.0,35.0
2281,2021/07/01,Yawzi,nd,9,0.5,42.0,42.5
2282,2021/07/01,Yawzi,nd,10,3.5,34.0,38.5

In [6]:
print(df['percentCover_CTB'].unique()) #check the unique values of the column

['6' '74' '45' '61.5' '48' '10' '3' '29' '38' '30.5' '31.5' '26' '24'
 '11.5' '14.5' '19' '15.5' '22' '16' '19.3' '31' '39' '30' '19.5' '20.5'
 '44.5' '63' '39.5' '46' '62' '6.8' '38.5' '32.5' '21' '36.5' '25.5'
 '10.5' '18' '12.5' '24.5' '32' '14' '25' '33.5' '40.5' '29.8' '33' '41'
 '9' '34.5' '23' '27.5' '29.5' '7.5' '7' '26.5' '22.5' '16.5' '12' '17'
 '16.1' '17.5' '35.5' '50' '37.5' '27' '18.5' '9.5' '37' '41.5' '51'
 '49.5' '20' '42.5' '21.5' '43.5' '40' '28.5' '28' '23.5' '6.5' '15' '11'
 '34' '8.5' '8' '13' '13.5' '36' '30.3' '32.3' '25.6' '30.9' '17.2' '28.8'
 '5.3' '15.1' '15.6' '25.9' '22.6' '8.9' '10.3' '7.6' '8.7' '8.8' '7.3'
 '5.6' '0' '1.6' '25.3' '40.7' '3.2' '4.5' '2.5' '3.5' '5' '18.7' '18.8'
 '20.8' '8.1' '2.6' '12.3' '14.9' '14.1' '2.7' '15.9' '12.8' '15.7' '6.6'
 '13.8' '1.1' '2.2' '33.2' '23.7' '31.4' '26.2' '1' '7.4' '18.6' '4' '1.5'
 '5.5' '22.3' '11.1' '12.2' '11.2' '24.7' '8.2' '4.1' '7.7' '14.3' '9.7'
 '10.2' '10.7' '5.1' '22.7' '17.9' '2' '9.9' '36.2' '30.8' '20.7' '20.1'
 '23.2' '9.1' '11.4' '12.1' '10.1' '29.4' '24.2' '10.6' '16.6' '12.6'
 '19.1' '18.1' '31.2' '8.6' '11.7' '21.8' '33.7' '13.2' '4.8' '18.4'
 '37.2' '32.1' '13.9' '14.6' '34.7' '36.9' '7.2' '9.2' '16.7' '12.9'
 '29.7' '19.4' '16.4' '10.4' '3.6' '11.9' '11.3' '41.3' '34.2' '24.4'
 '22.2' '19.2' '13.1' '14.4' '9.3' '12.7' '30.4' '7.9' '8.4' '6.3' '15.2'
 '18.9' '22.1' '4.2' '6.4' '17.8' '4.7' '2.1' '2.8' '5.8' '28.9' '40.8'
 '31.6' '37.3' '32.7' '33.1' '25.1' '43.4' '24.3' '58.2' '27.2' '35.3'
 '41.2' '38.8' '32.8' '32.2' '9.4' '55.7' '31.8' '28.6' '16.2' '48.8'
 '43.2' '31.1' '23.6' '30.7' '22.4' '39.3' '39.4' '51.8' '20.4' '23.4'
 '32.6' '16.8' '26.3' '59.7' '45.1' '39.6' '46.4' '40.4' '57.1' '48.2'
 '46.7' '37.8' '31.9' '42.7' '46.3' '53.4' '42.3' '36.4' '35.6' '40.6'
 '56.5' '50.6' '56.7' '43.9' '52.3' '71.8' '53' '39.7' '59' '62.6' '48.3'
 '37.6' '40.3' '50.3' '51.7' '74.3' '63.1' '37.9' '54' '60.3' '42' '45.4'
 '67.9' '39.2' '61.4' '35.9' '46.5' '60.1' '62.1' '29.1' '54.3' '56.4'
 '48.5' '45.6' '37.1' '63.8' '57.7' '23.9' '26.9' '26.1' '21.6' '38.1'
 '29.2' '17.3' '39.8' '71.1' '52.6' '55' '49.7' '43.1' '58.7' '45.5'
 '50.8' '39.1' '53.5' '51.5' '44.7' '57.8' '44.2' '33.8' '27.8' '35.2'
 '23.1' '54.8' '49' '27.1' '49.2' '17.1' '56' '36.7' '57.5' '38.6' '34.8'
 '59.3' '42.1' '35.8' '40.9' '35.4' '41.4' '43.7' '33.3' '34.3' '29.3'
 '27.6' '37.7' '15.8' '55.6' '56.1' '66.3' '62.5' '55.9' '73.3' '48.9'
 '56.9' '71.4' '79.4' '70.5' '65.1' '72.3' '58.1' '62.2' '64' '61.9'
 '51.6' '26.7' '20.9' '34.4' '39.9' '14.7' '19.7' '9.8' '18.2' '21.7'
 '9.6' '13.6' '47.9' '62.3' '47.4' '42.6' '46.1' '63.9' '57.4' '43.6'
 '48.7' '41.8' '18.3' '41.1' '28.2' '21.3' '28.4' '20.3' '28.3' '27.4'
 '20.6' '19.8' '29.9' '44.8' '44' '57' '82' '19.6' '69' '47' '50.5' '52'
 '35' 'nd' '54.5' '55.5' '66' '72.5' '71' '45.9' '25.2' '76.3' '30.2'
 '84.5' '87.7' '83.2' '72.8' '72.7' '68.5' '62.8' '47.5' '60' '63.5'
 '69.5' '65' '73' '83.7' '79.1' '79.5' '59.5' '20.2' '11.6' '16.9' '13.4'
 '52.8' '55.4' '57.3' '60.7' '54.2' '58.5' '23.8' '13.3' '24.1' '27.9'
 '34.6' '10.9' '8.3' '14.2' '21.1' '35.7' '31.3' '45.2' '19.9' '42.9'
 '26.8' '64.5' '70.4' '85.4' '61.3' '65.3' '51.3' '54.4' '78.2' '83.3'
 '7.8' '35.1' '47.7' '30.6' '36.1' '21.9' '36.3' '36.6' '48.1' '24.9'
 '25.4' '27.7' '55.1' '37.4' '23.3' '2.3' '1.2' '3.8' '3.7' '1.8' '53.1'
 '83.9' '46.2' '41.9' '22.9' '30.1' '33.9' '69.2' '62.4' '80.3' '21.4'
 '75.5' '61.7' '59.9' '65.2' '53.3' '53.2' '58.9' '64.4' '60.4' '64.6'
 '70.9' '70.1' '78.4' '69.3' '69.6' '56.3' '42.8' '64.9' '66.1' '67.3'
 '54.7' '45.3' '16.3' '38.2' '61.8' '40.2' '56.8' '70.7' '43' '28.1'
 '72.4' '67.2' '76.5' '59.6' '45.7' '47.2' '75' '60.5' '77.9' '53.8'
 '57.6' '55.8' '82.5' '74.4' '52.5' '84' '26.6' '38.3' '80.5' '47.1'
 '65.4' '54.6' '81.2' '64.2' '44.4' '44.3' '61.1' '66.5' '17.7' '58.3'
 '44.1' '45.8' '68.7' '75.3' '71.9' '73.7' '46.6' '68.9' '85.2' '53.9'
 '44.6' '56.2' '41.7' '27.0' '17.6' '26.0' '22.0' '36.0' '42.0' '53.0'
 '40.1' '30.0' '25.0' '44.0' '50.0' '35.0']

In [9]:
print(len(df)) #print the amount of rows of the dataset
#check and print the amount of times there is no data given in the entry for our three main columns
specific_value_count = df['percentCover_CTB'].value_counts()['nd']
print(specific_value_count)
specific_value_count = df['percentCover_macroalgae'].value_counts()['nd']
print(specific_value_count)
specific_value_count = df['percentCover_allCoral'].value_counts()['nd']
print(specific_value_count)

2283
19
19
9

Based on the previous numbers we can drop all of the rows who have "nd" as the value in our main three columns without losing a bunch of data.

In [10]:
df = df[df['percentCover_CTB'] != 'nd'] #drop all of the rows with these entries and then print out the amount of rows in our dataset
df = df[df['percentCover_macroalgae'] != 'nd']
df = df[df['percentCover_allCoral'] != 'nd']
print(len(df))

2264

In [13]:
columns_to_cast = ['percentCover_CTB', 'percentCover_macroalgae', 'percentCover_allCoral'] #get a list of the columns that we want to cast
df[columns_to_cast] = df[columns_to_cast].astype(float) #cast these columns as floats and divide by 100 to make the percents 
df[columns_to_cast] = df[columns_to_cast]/100
df['percentCover_other'] = 1 - (df['percentCover_CTB']+df['percentCover_macroalgae']) #add in another column for other types of coral

In [14]:
df #print the dataset with the new feature

,Date,site,transect,quadrat,percentCover_allCoral,percentCover_macroalgae,percentCover_CTB,percentCover_other
0,1987/12/01,Tektite,1,T1Q1,0.165,0.035,0.060,0.905
1,1987/12/01,Tektite,1,T1Q2,0.100,0.060,0.740,0.200
2,1987/12/01,Tektite,1,T1Q3,0.135,0.035,0.450,0.515
3,1987/12/01,Tektite,1,T1Q4,0.155,0.065,0.615,0.320
4,1987/12/01,Tektite,1,T1Q5,0.190,0.040,0.480,0.480
...,...,...,...,...,...,...,...,...
2278,2021/07/01,Yawzi,nd,6,0.000,0.300,0.500,0.200
2279,2021/07/01,Yawzi,nd,7,0.000,0.285,0.455,0.260
2280,2021/07/01,Yawzi,nd,8,0.005,0.350,0.350,0.300
2281,2021/07/01,Yawzi,nd,9,0.005,0.420,0.425,0.155
2282,2021/07/01,Yawzi,nd,10,0.035,0.340,0.385,0.275